@media (--breakpoint-x-large) {
 .bw0-xl { border-width: 0; }
 .bw1-xl { border-width: .125rem; }
 .bw2-xl { border-width: .25rem; }
 .bw3-xl { border-width: .5rem; }
 .bw4-xl { border-width: 1rem; }
 .bw5-xl { border-width: 2rem; }
 .bt-0-xl { border-top-width: 0; }
 .br-0-xl { border-right-width: 0; }
 .bb-0-xl { border-bottom-width: 0; }
 .bl-0-xl { border-left-width: 0; }
}
