@media (--breakpoint-x-large) {
 .shadow-1-xl { box-shadow: 0 0 4px 2px rgba( 0, 0, 0, .2 ); }
 .shadow-2-xl { box-shadow: 0 0 8px 2px rgba( 0, 0, 0, .2 ); }
 .shadow-3-xl { box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, .2 ); }
 .shadow-4-xl { box-shadow: 2px 2px 8px 0 rgba( 0, 0, 0, .2 ); }
 .shadow-5-xl { box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 ); }
}
