@media (--breakpoint-x-large) {
 .top-0-xl { top: 0; }
 .right-0-xl { right: 0; }
 .bottom-0-xl { bottom: 0; }
 .left-0-xl { left: 0; }
 .top-1-xl { top: 1rem; }
 .right-1-xl { right: 1rem; }
 .bottom-1-xl { bottom: 1rem; }
 .left-1-xl { left: 1rem; }
 .top-2-xl { top: 2rem; }
 .right-2-xl { right: 2rem; }
 .bottom-2-xl { bottom: 2rem; }
 .left-2-xl { left: 2rem; }
 .top--1-xl { top: -1rem; }
 .right--1-xl { right: -1rem; }
 .bottom--1-xl { bottom: -1rem; }
 .left--1-xl { left: -1rem; }
 .top--2-xl { top: -2rem; }
 .right--2-xl { right: -2rem; }
 .bottom--2-xl { bottom: -2rem; }
 .left--2-xl { left: -2rem; }
 .absolute--fill-xl { top: 0; right: 0; bottom: 0; left: 0; }
}
