@media (--breakpoint-x-large) {
 .dn-xl { display: none; }
 .di-xl { display: inline; }
 .db-xl { display: block; }
 .dib-xl { display: inline-block; }
 .dit-xl { display: inline-table; }
 .dt-xl { display: table; }
 .dtc-xl { display: table-cell; }
 .dt-row-xl { display: table-row; }
 .dt-row-group-xl { display: table-row-group; }
 .dt-column-xl { display: table-column; }
 .dt-column-group-xl { display: table-column-group; }
 .dt--fixed-xl { table-layout: fixed; width: 100%; }
}
