@media (--breakpoint-x-large) {
 .flex-xl { display: flex; }
 .inline-flex-xl { display: inline-flex; }
 .flex-auto-xl { flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
 .flex-none-xl { flex: none; }
 .flex-column-xl { flex-direction: column; }
 .flex-row-xl { flex-direction: row; }
 .flex-wrap-xl { flex-wrap: wrap; }
 .items-start-xl { align-items: flex-start; }
 .items-end-xl { align-items: flex-end; }
 .items-center-xl { align-items: center; }
 .items-baseline-xl { align-items: baseline; }
 .items-stretch-xl { align-items: stretch; }
 .self-start-xl { align-self: flex-start; }
 .self-end-xl { align-self: flex-end; }
 .self-center-xl { align-self: center; }
 .self-baseline-xl { align-self: baseline; }
 .self-stretch-xl { align-self: stretch; }
 .justify-start-xl { justify-content: flex-start; }
 .justify-end-xl { justify-content: flex-end; }
 .justify-center-xl { justify-content: center; }
 .justify-between-xl { justify-content: space-between; }
 .justify-around-xl { justify-content: space-around; }
 .content-start-xl { align-content: flex-start; }
 .content-end-xl { align-content: flex-end; }
 .content-center-xl { align-content: center; }
 .content-between-xl { align-content: space-between; }
 .content-around-xl { align-content: space-around; }
 .content-stretch-xl { align-content: stretch; }
 .order-0-xl { order: 0; }
 .order-1-xl { order: 1; }
 .order-2-xl { order: 2; }
 .order-3-xl { order: 3; }
 .order-4-xl { order: 4; }
 .order-5-xl { order: 5; }
 .order-6-xl { order: 6; }
 .order-7-xl { order: 7; }
 .order-8-xl { order: 8; }
 .order-last-xl { order: 99999; }
}
