/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Regular.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Regular?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Regular.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Italic.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Italic?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Italic.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Bold.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Bold?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Bold.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-BoldItalic.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-BoldItalic?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-BoldItalic.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Light.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Light.eot?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Light.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-LightItalic.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-LightItalic?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-LightItalic.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Medium.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Medium?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Medium.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-MediumItalic.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-MediumItalic?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-MediumItalic.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Black.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-Black?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Black.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fabriga';
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-BlackItalic.eot');
	src: url('//io.vtex.com.br/fonts/fabriga/Fabriga-BlackItalic?#iefix') format('embedded-opentype'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-BlackItalic.woff2') format('woff2'),
		url('//io.vtex.com.br/fonts/fabriga/Fabriga-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

* {
  font-family: 'Fabriga',
  -apple-system,
  BlinkMacSystemFont,
  avenir next,
  avenir,
  helvetica neue,
  helvetica,
  ubuntu,
  roboto,
  noto,
  segoe ui,
  arial,
  sans-serif;
}

.acumin { font-family: 'acumin-pro', acumin, sans-serif; }
.ffmark { font-family: 'Mark', Mark, sans-serif; }
