@media (--breakpoint-x-large) {
 .h1-xl { height: 1rem; }
 .h2-xl { height: 2rem; }
 .h3-xl { height: 4rem; }
 .h4-xl { height: 8rem; }
 .h5-xl { height: 16rem; }

 .h-25-xl { height: 25%; }
 .h-50-xl { height: 50%; }
 .h-75-xl { height: 75%; }
 .h-100-xl { height: 100%; }

 .min-h-100-xl { min-height: 100%; }

 .vh-25-xl { height: 25vh; }
 .vh-50-xl { height: 50vh; }
 .vh-75-xl { height: 75vh; }
 .vh-100-xl { height: 100vh; }

 .min-vh-100-xl { min-height: 100vh; }
 .h-auto-xl { height: auto; }
 .h-inherit-xl { height: inherit; }
}
