@media (--breakpoint-x-large) {
 .mw-100-xl { max-width: 100%; }
 .mw1-xl { max-width: 1rem; }
 .mw2-xl { max-width: 2rem; }
 .mw3-xl { max-width: 4rem; }
 .mw4-xl { max-width: 8rem; }
 .mw5-xl { max-width: 16rem; }
 .mw6-xl { max-width: 32rem; }
 .mw7-xl { max-width: 48rem; }
 .mw8-xl { max-width: 64rem; }
 .mw9-xl { max-width: 96rem; }
 .mw-none-xl { max-width: none; }
}
