@media (--breakpoint-x-large) {
 .na1-xl { margin: -var(--spacing-extra-small); }
 .na2-xl { margin: -var(--spacing-small); }
 .na3-xl { margin: -var(--spacing-medium); }
 .na4-xl { margin: -var(--spacing-large); }
 .na5-xl { margin: -var(--spacing-extra-large); }
 .na6-xl { margin: -var(--spacing-extra-extra-large); }
 .na7-xl { margin: -var(--spacing-extra-extra-extra-large); }
 .nl1-xl { margin-left: -var(--spacing-extra-small); }
 .nl2-xl { margin-left: -var(--spacing-small); }
 .nl3-xl { margin-left: -var(--spacing-medium); }
 .nl4-xl { margin-left: -var(--spacing-large); }
 .nl5-xl { margin-left: -var(--spacing-extra-large); }
 .nl6-xl { margin-left: -var(--spacing-extra-extra-large); }
 .nl7-xl { margin-left: -var(--spacing-extra-extra-extra-large); }
 .nr1-xl { margin-right: -var(--spacing-extra-small); }
 .nr2-xl { margin-right: -var(--spacing-small); }
 .nr3-xl { margin-right: -var(--spacing-medium); }
 .nr4-xl { margin-right: -var(--spacing-large); }
 .nr5-xl { margin-right: -var(--spacing-extra-large); }
 .nr6-xl { margin-right: -var(--spacing-extra-extra-large); }
 .nr7-xl { margin-right: -var(--spacing-extra-extra-extra-large); }
 .nb1-xl { margin-bottom: -var(--spacing-extra-small); }
 .nb2-xl { margin-bottom: -var(--spacing-small); }
 .nb3-xl { margin-bottom: -var(--spacing-medium); }
 .nb4-xl { margin-bottom: -var(--spacing-large); }
 .nb5-xl { margin-bottom: -var(--spacing-extra-large); }
 .nb6-xl { margin-bottom: -var(--spacing-extra-extra-large); }
 .nb7-xl { margin-bottom: -var(--spacing-extra-extra-extra-large); }
 .nt1-xl { margin-top: -var(--spacing-extra-small); }
 .nt2-xl { margin-top: -var(--spacing-small); }
 .nt3-xl { margin-top: -var(--spacing-medium); }
 .nt4-xl { margin-top: -var(--spacing-large); }
 .nt5-xl { margin-top: -var(--spacing-extra-large); }
 .nt6-xl { margin-top: -var(--spacing-extra-extra-large); }
 .nt7-xl { margin-top: -var(--spacing-extra-extra-extra-large); }
}
