/*
Normalize 6.0.0 removed all u̶s̶e̶f̶u̶l̶ "opinionated" rules.
This files adds some of them back.
See: https://github.com/necolas/normalize.css/commit/26ac94ea929a3afcf7692685641cf4591f0e914e
*/

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * Change the font styles in all browsers (opinionated).
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}