@media (--breakpoint-x-large) {
 .o-100-xl { opacity: 1; }
 .o-90-xl { opacity: .9; }
 .o-80-xl { opacity: .8; }
 .o-70-xl { opacity: .7; }
 .o-60-xl { opacity: .6; }
 .o-50-xl { opacity: .5; }
 .o-40-xl { opacity: .4; }
 .o-30-xl { opacity: .3; }
 .o-20-xl { opacity: .2; }
 .o-10-xl { opacity: .1; }
 .o-05-xl { opacity: .05; }
 .o-025-xl { opacity: .025; }
 .o-0-xl { opacity: 0; }
}
