.dark-tangerine { color: var(--dark-tangerine); }
.tangerine { color: var(--tangerine); }
.light-tangerine { color: var(--light-tangerine); }
.lightest-tangerine { color: var(--lightest-tangerine); }

.bg-dark-tangerine { background-color: var(--dark-tangerine); }
.bg-tangerine { background-color: var(--tangerine); }
.bg-light-tangerine { background-color: var(--light-tangerine); }
.bg-lightest-tangerine { background-color: var(--lightest-tangerine); }

@media (--breakpoint-not-small) {
 .black-90-ns { color: var(--black-90); }
 .black-80-ns { color: var(--black-80); }
 .black-70-ns { color: var(--black-70); }
 .black-60-ns { color: var(--black-60); }
 .black-50-ns { color: var(--black-50); }
 .black-40-ns { color: var(--black-40); }
 .black-30-ns { color: var(--black-30); }
 .black-20-ns { color: var(--black-20); }
 .black-10-ns { color: var(--black-10); }
 .black-05-ns { color: var(--black-05); }
 .white-90-ns { color: var(--white-90); }
 .white-80-ns { color: var(--white-80); }
 .white-70-ns { color: var(--white-70); }
 .white-60-ns { color: var(--white-60); }
 .white-50-ns { color: var(--white-50); }
 .white-40-ns { color: var(--white-40); }
 .white-30-ns { color: var(--white-30); }
 .white-20-ns { color: var(--white-20); }
 .white-10-ns { color: var(--white-10); }
 .black-ns { color: var(--black); }
 .near-black-ns { color: var(--near-black); }
 .dark-gray-ns { color: var(--dark-gray); }
 .mid-gray-ns { color: var(--mid-gray); }
 .gray-ns { color: var(--gray); }
 .silver-ns { color: var(--silver); }
 .light-silver-ns { color: var(--light-silver); }
 .moon-gray-ns { color: var(--moon-gray); }
 .light-gray-ns { color: var(--light-gray); }
 .near-white-ns { color: var(--near-white); }
 .white-ns { color: var(--white); }
 .dark-red-ns { color: var(--dark-red); }
 .red-ns { color: var(--red); }
 .light-red-ns { color: var(--light-red); }
 .orange-ns { color: var(--orange); }
 .dark-tangerine-ns { color: var(--dark-tangerine); }
 .light-tangerine-ns { color: var(--light-tangerine); }
 .tangerine-ns { color: var(--tangerine); }
 .lightest-tangerine-ns { color: var(--lightest-tangerine); }
 .gold-ns { color: var(--gold); }
 .yellow-ns { color: var(--yellow); }
 .light-yellow-ns { color: var(--light-yellow); }
 .purple-ns { color: var(--purple); }
 .light-purple-ns { color: var(--light-purple); }
 .dark-pink-ns { color: var(--dark-pink); }
 .hot-pink-ns { color: var(--hot-pink); }
 .pink-ns { color: var(--pink); }
 .light-pink-ns { color: var(--light-pink); }
 .dark-green-ns { color: var(--dark-green); }
 .green-ns { color: var(--green); }
 .light-green-ns { color: var(--light-green); }
 .navy-ns { color: var(--navy); }
 .dark-blue-ns { color: var(--dark-blue); }
 .blue-ns { color: var(--blue); }
 .light-blue-ns { color: var(--light-blue); }
 .lightest-blue-ns { color: var(--lightest-blue); }
 .washed-blue-ns { color: var(--washed-blue); }
 .washed-green-ns { color: var(--washed-green); }
 .washed-yellow-ns { color: var(--washed-yellow); }
 .washed-red-ns { color: var(--washed-red); }
 .vtex-blue-ns { color: var(--vtex-blue); }
 .bg-black-90-ns { background-color: var(--black-90); }
 .bg-black-80-ns { background-color: var(--black-80); }
 .bg-black-70-ns { background-color: var(--black-70); }
 .bg-black-60-ns { background-color: var(--black-60); }
 .bg-black-50-ns { background-color: var(--black-50); }
 .bg-black-40-ns { background-color: var(--black-40); }
 .bg-black-30-ns { background-color: var(--black-30); }
 .bg-black-20-ns { background-color: var(--black-20); }
 .bg-black-10-ns { background-color: var(--black-10); }
 .bg-black-05-ns { background-color: var(--black-05); }
 .bg-white-90-ns { background-color: var(--white-90); }
 .bg-white-80-ns { background-color: var(--white-80); }
 .bg-white-70-ns { background-color: var(--white-70); }
 .bg-white-60-ns { background-color: var(--white-60); }
 .bg-white-50-ns { background-color: var(--white-50); }
 .bg-white-40-ns { background-color: var(--white-40); }
 .bg-white-30-ns { background-color: var(--white-30); }
 .bg-white-20-ns { background-color: var(--white-20); }
 .bg-white-10-ns { background-color: var(--white-10); }
 .bg-black-ns { background-color: var(--black); }
 .bg-near-black-ns { background-color: var(--near-black); }
 .bg-dark-gray-ns { background-color: var(--dark-gray); }
 .bg-mid-gray-ns { background-color: var(--mid-gray); }
 .bg-gray-ns { background-color: var(--gray); }
 .bg-silver-ns { background-color: var(--silver); }
 .bg-light-silver-ns { background-color: var(--light-silver); }
 .bg-moon-gray-ns { background-color: var(--moon-gray); }
 .bg-light-gray-ns { background-color: var(--light-gray); }
 .bg-near-white-ns { background-color: var(--near-white); }
 .bg-white-ns { background-color: var(--white); }
 .bg-transparent-ns { background-color: var(--transparent); }
 .bg-dark-red-ns { background-color: var(--dark-red); }
 .bg-red-ns { background-color: var(--red); }
 .bg-light-red-ns { background-color: var(--light-red); }
 .bg-orange-ns { background-color: var(--orange); }
 .bg-gold-ns { background-color: var(--gold); }
 .bg-dark-tangerine-ns { color: var(--dark-tangerine); }
 .bg-light-tangerine-ns { color: var(--light-tangerine); }
 .bg-tangerine-ns { color: var(--tangerine); }
 .bg-lightest-tangerine-ns { color: var(--lightest-tangerine); }
 .bg-yellow-ns { background-color: var(--yellow); }
 .bg-light-yellow-ns { background-color: var(--light-yellow); }
 .bg-purple-ns { background-color: var(--purple); }
 .bg-light-purple-ns { background-color: var(--light-purple); }
 .bg-dark-pink-ns { background-color: var(--dark-pink); }
 .bg-hot-pink-ns { background-color: var(--hot-pink); }
 .bg-pink-ns { background-color: var(--pink); }
 .bg-light-pink-ns { background-color: var(--light-pink); }
 .bg-dark-green-ns { background-color: var(--dark-green); }
 .bg-green-ns { background-color: var(--green); }
 .bg-light-green-ns { background-color: var(--light-green); }
 .bg-navy-ns { background-color: var(--navy); }
 .bg-dark-blue-ns { background-color: var(--dark-blue); }
 .bg-blue-ns { background-color: var(--blue); }
 .bg-light-blue-ns { background-color: var(--light-blue); }
 .bg-lightest-blue-ns { background-color: var(--lightest-blue); }
 .bg-washed-blue-ns { background-color: var(--washed-blue); }
 .bg-washed-green-ns { background-color: var(--washed-green); }
 .bg-washed-yellow-ns { background-color: var(--washed-yellow); }
 .bg-washed-red-ns { background-color: var(--washed-red); }
 .bg-vtex-blue-ns { background-color: var(--vtex-blue); }
}

@media (--breakpoint-medium) {
 .black-90-m { color: var(--black-90); }
 .black-80-m { color: var(--black-80); }
 .black-70-m { color: var(--black-70); }
 .black-60-m { color: var(--black-60); }
 .black-50-m { color: var(--black-50); }
 .black-40-m { color: var(--black-40); }
 .black-30-m { color: var(--black-30); }
 .black-20-m { color: var(--black-20); }
 .black-10-m { color: var(--black-10); }
 .black-05-m { color: var(--black-05); }
 .white-90-m { color: var(--white-90); }
 .white-80-m { color: var(--white-80); }
 .white-70-m { color: var(--white-70); }
 .white-60-m { color: var(--white-60); }
 .white-50-m { color: var(--white-50); }
 .white-40-m { color: var(--white-40); }
 .white-30-m { color: var(--white-30); }
 .white-20-m { color: var(--white-20); }
 .white-10-m { color: var(--white-10); }
 .black-m { color: var(--black); }
 .near-black-m { color: var(--near-black); }
 .dark-gray-m { color: var(--dark-gray); }
 .mid-gray-m { color: var(--mid-gray); }
 .gray-m { color: var(--gray); }
 .silver-m { color: var(--silver); }
 .light-silver-m { color: var(--light-silver); }
 .moon-gray-m { color: var(--moon-gray); }
 .light-gray-m { color: var(--light-gray); }
 .near-white-m { color: var(--near-white); }
 .white-m { color: var(--white); }
 .dark-red-m { color: var(--dark-red); }
 .red-m { color: var(--red); }
 .light-red-m { color: var(--light-red); }
 .orange-m { color: var(--orange); }
 .gold-m { color: var(--gold); }
 .dark-tangerine-m { color: var(--dark-tangerine); }
 .tangerine-m { color: var(--tangerine); }
 .light-tangerine-m { color: var(--light-tangerine); }
 .lightest-tangerine-m { color: var(--lightest-tangerine); }
 .yellow-m { color: var(--yellow); }
 .light-yellow-m { color: var(--light-yellow); }
 .purple-m { color: var(--purple); }
 .light-purple-m { color: var(--light-purple); }
 .dark-pink-m { color: var(--dark-pink); }
 .hot-pink-m { color: var(--hot-pink); }
 .pink-m { color: var(--pink); }
 .light-pink-m { color: var(--light-pink); }
 .dark-green-m { color: var(--dark-green); }
 .green-m { color: var(--green); }
 .light-green-m { color: var(--light-green); }
 .navy-m { color: var(--navy); }
 .dark-blue-m { color: var(--dark-blue); }
 .blue-m { color: var(--blue); }
 .light-blue-m { color: var(--light-blue); }
 .lightest-blue-m { color: var(--lightest-blue); }
 .washed-blue-m { color: var(--washed-blue); }
 .washed-green-m { color: var(--washed-green); }
 .washed-yellow-m { color: var(--washed-yellow); }
 .washed-red-m { color: var(--washed-red); }
 .vtex-blue-m { color: var(--vtex-blue); }
 .bg-black-90-m { background-color: var(--black-90); }
 .bg-black-80-m { background-color: var(--black-80); }
 .bg-black-70-m { background-color: var(--black-70); }
 .bg-black-60-m { background-color: var(--black-60); }
 .bg-black-50-m { background-color: var(--black-50); }
 .bg-black-40-m { background-color: var(--black-40); }
 .bg-black-30-m { background-color: var(--black-30); }
 .bg-black-20-m { background-color: var(--black-20); }
 .bg-black-10-m { background-color: var(--black-10); }
 .bg-black-05-m { background-color: var(--black-05); }
 .bg-white-90-m { background-color: var(--white-90); }
 .bg-white-80-m { background-color: var(--white-80); }
 .bg-white-70-m { background-color: var(--white-70); }
 .bg-white-60-m { background-color: var(--white-60); }
 .bg-white-50-m { background-color: var(--white-50); }
 .bg-white-40-m { background-color: var(--white-40); }
 .bg-white-30-m { background-color: var(--white-30); }
 .bg-white-20-m { background-color: var(--white-20); }
 .bg-white-10-m { background-color: var(--white-10); }
 .bg-black-m { background-color: var(--black); }
 .bg-near-black-m { background-color: var(--near-black); }
 .bg-dark-gray-m { background-color: var(--dark-gray); }
 .bg-mid-gray-m { background-color: var(--mid-gray); }
 .bg-gray-m { background-color: var(--gray); }
 .bg-silver-m { background-color: var(--silver); }
 .bg-light-silver-m { background-color: var(--light-silver); }
 .bg-moon-gray-m { background-color: var(--moon-gray); }
 .bg-light-gray-m { background-color: var(--light-gray); }
 .bg-near-white-m { background-color: var(--near-white); }
 .bg-white-m { background-color: var(--white); }
 .bg-transparent-m { background-color: var(--transparent); }
 .bg-dark-red-m { background-color: var(--dark-red); }
 .bg-red-m { background-color: var(--red); }
 .bg-light-red-m { background-color: var(--light-red); }
 .bg-orange-m { background-color: var(--orange); }
 .bg-gold-m { background-color: var(--gold); }
 .bg-dark-tangerine-m { color: var(--dark-tangerine); }
 .bg-tangerine-m { color: var(--tangerine); }
 .bg-light-tangerine-m { color: var(--light-tangerine); }
 .bg-lightest-tangerine-m { color: var(--lightest-tangerine); }
 .bg-yellow-m { background-color: var(--yellow); }
 .bg-light-yellow-m { background-color: var(--light-yellow); }
 .bg-purple-m { background-color: var(--purple); }
 .bg-light-purple-m { background-color: var(--light-purple); }
 .bg-dark-pink-m { background-color: var(--dark-pink); }
 .bg-hot-pink-m { background-color: var(--hot-pink); }
 .bg-pink-m { background-color: var(--pink); }
 .bg-light-pink-m { background-color: var(--light-pink); }
 .bg-dark-green-m { background-color: var(--dark-green); }
 .bg-green-m { background-color: var(--green); }
 .bg-light-green-m { background-color: var(--light-green); }
 .bg-navy-m { background-color: var(--navy); }
 .bg-dark-blue-m { background-color: var(--dark-blue); }
 .bg-blue-m { background-color: var(--blue); }
 .bg-light-blue-m { background-color: var(--light-blue); }
 .bg-lightest-blue-m { background-color: var(--lightest-blue); }
 .bg-washed-blue-m { background-color: var(--washed-blue); }
 .bg-washed-green-m { background-color: var(--washed-green); }
 .bg-washed-yellow-m { background-color: var(--washed-yellow); }
 .bg-washed-red-m { background-color: var(--washed-red); }
 .bg-vtex-blue-m { background-color: var(--vtex-blue); }
}

@media (--breakpoint-large) {
 .black-90-l { color: var(--black-90); }
 .black-80-l { color: var(--black-80); }
 .black-70-l { color: var(--black-70); }
 .black-60-l { color: var(--black-60); }
 .black-50-l { color: var(--black-50); }
 .black-40-l { color: var(--black-40); }
 .black-30-l { color: var(--black-30); }
 .black-20-l { color: var(--black-20); }
 .black-10-l { color: var(--black-10); }
 .black-05-l { color: var(--black-05); }
 .white-90-l { color: var(--white-90); }
 .white-80-l { color: var(--white-80); }
 .white-70-l { color: var(--white-70); }
 .white-60-l { color: var(--white-60); }
 .white-50-l { color: var(--white-50); }
 .white-40-l { color: var(--white-40); }
 .white-30-l { color: var(--white-30); }
 .white-20-l { color: var(--white-20); }
 .white-10-l { color: var(--white-10); }
 .black-l { color: var(--black); }
 .near-black-l { color: var(--near-black); }
 .dark-gray-l { color: var(--dark-gray); }
 .mid-gray-l { color: var(--mid-gray); }
 .gray-l { color: var(--gray); }
 .silver-l { color: var(--silver); }
 .light-silver-l { color: var(--light-silver); }
 .moon-gray-l { color: var(--moon-gray); }
 .light-gray-l { color: var(--light-gray); }
 .near-white-l { color: var(--near-white); }
 .white-l { color: var(--white); }
 .dark-red-l { color: var(--dark-red); }
 .red-l { color: var(--red); }
 .light-red-l { color: var(--light-red); }
 .orange-l { color: var(--orange); }
 .gold-l { color: var(--gold); }
 .dark-tangerine-l { color: var(--dark-tangerine); }
 .tangerine-l { color: var(--tangerine); }
 .light-tangerine-l { color: var(--light-tangerine); }
 .lightest-tangerine-l { color: var(--lightest-tangerine); }
 .yellow-l { color: var(--yellow); }
 .light-yellow-l { color: var(--light-yellow); }
 .purple-l { color: var(--purple); }
 .light-purple-l { color: var(--light-purple); }
 .dark-pink-l { color: var(--dark-pink); }
 .hot-pink-l { color: var(--hot-pink); }
 .pink-l { color: var(--pink); }
 .light-pink-l { color: var(--light-pink); }
 .dark-green-l { color: var(--dark-green); }
 .green-l { color: var(--green); }
 .light-green-l { color: var(--light-green); }
 .navy-l { color: var(--navy); }
 .dark-blue-l { color: var(--dark-blue); }
 .blue-l { color: var(--blue); }
 .light-blue-l { color: var(--light-blue); }
 .lightest-blue-l { color: var(--lightest-blue); }
 .washed-blue-l { color: var(--washed-blue); }
 .washed-green-l { color: var(--washed-green); }
 .washed-yellow-l { color: var(--washed-yellow); }
 .washed-red-l { color: var(--washed-red); }
 .vtex-blue-l { color: var(--vtex-blue); }
 .bg-black-90-l { background-color: var(--black-90); }
 .bg-black-80-l { background-color: var(--black-80); }
 .bg-black-70-l { background-color: var(--black-70); }
 .bg-black-60-l { background-color: var(--black-60); }
 .bg-black-50-l { background-color: var(--black-50); }
 .bg-black-40-l { background-color: var(--black-40); }
 .bg-black-30-l { background-color: var(--black-30); }
 .bg-black-20-l { background-color: var(--black-20); }
 .bg-black-10-l { background-color: var(--black-10); }
 .bg-black-05-l { background-color: var(--black-05); }
 .bg-white-90-l { background-color: var(--white-90); }
 .bg-white-80-l { background-color: var(--white-80); }
 .bg-white-70-l { background-color: var(--white-70); }
 .bg-white-60-l { background-color: var(--white-60); }
 .bg-white-50-l { background-color: var(--white-50); }
 .bg-white-40-l { background-color: var(--white-40); }
 .bg-white-30-l { background-color: var(--white-30); }
 .bg-white-20-l { background-color: var(--white-20); }
 .bg-white-10-l { background-color: var(--white-10); }
 .bg-black-l { background-color: var(--black); }
 .bg-near-black-l { background-color: var(--near-black); }
 .bg-dark-gray-l { background-color: var(--dark-gray); }
 .bg-mid-gray-l { background-color: var(--mid-gray); }
 .bg-gray-l { background-color: var(--gray); }
 .bg-silver-l { background-color: var(--silver); }
 .bg-light-silver-l { background-color: var(--light-silver); }
 .bg-moon-gray-l { background-color: var(--moon-gray); }
 .bg-light-gray-l { background-color: var(--light-gray); }
 .bg-near-white-l { background-color: var(--near-white); }
 .bg-white-l { background-color: var(--white); }
 .bg-transparent-l { background-color: var(--transparent); }
 .bg-dark-red-l { background-color: var(--dark-red); }
 .bg-red-l { background-color: var(--red); }
 .bg-light-red-l { background-color: var(--light-red); }
 .bg-orange-l { background-color: var(--orange); }
 .bg-gold-l { background-color: var(--gold); }
 .bg-dark-tangerine-l { color: var(--dark-tangerine); }
 .bg-tangerine-l { color: var(--tangerine); }
 .bg-light-tangerine-l { color: var(--light-tangerine); }
 .bg-lightest-tangerine-l { color: var(--lightest-tangerine); }
 .bg-yellow-l { background-color: var(--yellow); }
 .bg-light-yellow-l { background-color: var(--light-yellow); }
 .bg-purple-l { background-color: var(--purple); }
 .bg-light-purple-l { background-color: var(--light-purple); }
 .bg-dark-pink-l { background-color: var(--dark-pink); }
 .bg-hot-pink-l { background-color: var(--hot-pink); }
 .bg-pink-l { background-color: var(--pink); }
 .bg-light-pink-l { background-color: var(--light-pink); }
 .bg-dark-green-l { background-color: var(--dark-green); }
 .bg-green-l { background-color: var(--green); }
 .bg-light-green-l { background-color: var(--light-green); }
 .bg-navy-l { background-color: var(--navy); }
 .bg-dark-blue-l { background-color: var(--dark-blue); }
 .bg-blue-l { background-color: var(--blue); }
 .bg-light-blue-l { background-color: var(--light-blue); }
 .bg-lightest-blue-l { background-color: var(--lightest-blue); }
 .bg-washed-blue-l { background-color: var(--washed-blue); }
 .bg-washed-green-l { background-color: var(--washed-green); }
 .bg-washed-yellow-l { background-color: var(--washed-yellow); }
 .bg-washed-red-l { background-color: var(--washed-red); }
 .bg-vtex-blue-l { background-color: var(--vtex-blue); }
}

@media (--breakpoint-x-large) {
 .black-90-xl { color: var(--black-90); }
 .black-80-xl { color: var(--black-80); }
 .black-70-xl { color: var(--black-70); }
 .black-60-xl { color: var(--black-60); }
 .black-50-xl { color: var(--black-50); }
 .black-40-xl { color: var(--black-40); }
 .black-30-xl { color: var(--black-30); }
 .black-20-xl { color: var(--black-20); }
 .black-10-xl { color: var(--black-10); }
 .black-05-xl { color: var(--black-05); }
 .white-90-xl { color: var(--white-90); }
 .white-80-xl { color: var(--white-80); }
 .white-70-xl { color: var(--white-70); }
 .white-60-xl { color: var(--white-60); }
 .white-50-xl { color: var(--white-50); }
 .white-40-xl { color: var(--white-40); }
 .white-30-xl { color: var(--white-30); }
 .white-20-xl { color: var(--white-20); }
 .white-10-xl { color: var(--white-10); }
 .black-xl { color: var(--black); }
 .near-black-xl { color: var(--near-black); }
 .dark-gray-xl { color: var(--dark-gray); }
 .mid-gray-xl { color: var(--mid-gray); }
 .gray-xl { color: var(--gray); }
 .silver-xl { color: var(--silver); }
 .light-silver-xl { color: var(--light-silver); }
 .moon-gray-xl { color: var(--moon-gray); }
 .light-gray-xl { color: var(--light-gray); }
 .near-white-xl { color: var(--near-white); }
 .white-xl { color: var(--white); }
 .dark-red-xl { color: var(--dark-red); }
 .red-xl { color: var(--red); }
 .light-red-xl { color: var(--light-red); }
 .orange-xl { color: var(--orange); }
 .gold-xl { color: var(--gold); }
 .dark-tangerine-xl { background-color: var(--dark-tangerine); }
 .tangerine-xl { background-color: var(--tangerine); }
 .light-tangerine-xl { background-color: var(--light-tangerine); }
 .lightest-tangerine-xl { background-color: var(--lightest-tangerine); }
 .yellow-xl { color: var(--yellow); }
 .light-yellow-xl { color: var(--light-yellow); }
 .purple-xl { color: var(--purple); }
 .light-purple-xl { color: var(--light-purple); }
 .dark-pink-xl { color: var(--dark-pink); }
 .hot-pink-xl { color: var(--hot-pink); }
 .pink-xl { color: var(--pink); }
 .light-pink-xl { color: var(--light-pink); }
 .dark-green-xl { color: var(--dark-green); }
 .green-xl { color: var(--green); }
 .light-green-xl { color: var(--light-green); }
 .navy-xl { color: var(--navy); }
 .dark-blue-xl { color: var(--dark-blue); }
 .blue-xl { color: var(--blue); }
 .light-blue-xl { color: var(--light-blue); }
 .lightest-blue-xl { color: var(--lightest-blue); }
 .washed-blue-xl { color: var(--washed-blue); }
 .washed-green-xl { color: var(--washed-green); }
 .washed-yellow-xl { color: var(--washed-yellow); }
 .washed-red-xl { color: var(--washed-red); }
 .vtex-blue-xl { color: var(--vtex-blue); }
 .bg-black-90-xl { background-color: var(--black-90); }
 .bg-black-80-xl { background-color: var(--black-80); }
 .bg-black-70-xl { background-color: var(--black-70); }
 .bg-black-60-xl { background-color: var(--black-60); }
 .bg-black-50-xl { background-color: var(--black-50); }
 .bg-black-40-xl { background-color: var(--black-40); }
 .bg-black-30-xl { background-color: var(--black-30); }
 .bg-black-20-xl { background-color: var(--black-20); }
 .bg-black-10-xl { background-color: var(--black-10); }
 .bg-black-05-xl { background-color: var(--black-05); }
 .bg-white-90-xl { background-color: var(--white-90); }
 .bg-white-80-xl { background-color: var(--white-80); }
 .bg-white-70-xl { background-color: var(--white-70); }
 .bg-white-60-xl { background-color: var(--white-60); }
 .bg-white-50-xl { background-color: var(--white-50); }
 .bg-white-40-xl { background-color: var(--white-40); }
 .bg-white-30-xl { background-color: var(--white-30); }
 .bg-white-20-xl { background-color: var(--white-20); }
 .bg-white-10-xl { background-color: var(--white-10); }
 .bg-black-xl { background-color: var(--black); }
 .bg-near-black-xl { background-color: var(--near-black); }
 .bg-dark-gray-xl { background-color: var(--dark-gray); }
 .bg-mid-gray-xl { background-color: var(--mid-gray); }
 .bg-gray-xl { background-color: var(--gray); }
 .bg-silver-xl { background-color: var(--silver); }
 .bg-light-silver-xl { background-color: var(--light-silver); }
 .bg-moon-gray-xl { background-color: var(--moon-gray); }
 .bg-light-gray-xl { background-color: var(--light-gray); }
 .bg-near-white-xl { background-color: var(--near-white); }
 .bg-white-xl { background-color: var(--white); }
 .bg-transparent-xl { background-color: var(--transparent); }
 .bg-dark-red-xl { background-color: var(--dark-red); }
 .bg-red-xl { background-color: var(--red); }
 .bg-light-red-xl { background-color: var(--light-red); }
 .bg-orange-xl { background-color: var(--orange); }
 .bg-gold-xl { background-color: var(--gold); }
 .bg-dark-tangerine-xl { background-color: var(--dark-tangerine); }
 .bg-tangerine-xl { background-color: var(--tangerine); }
 .bg-light-tangerine-xl { background-color: var(--light-tangerine); }
 .bg-lightest-tangerine-xl { background-color: var(--lightest-tangerine); }
 .bg-yellow-xl { background-color: var(--yellow); }
 .bg-light-yellow-xl { background-color: var(--light-yellow); }
 .bg-purple-xl { background-color: var(--purple); }
 .bg-light-purple-xl { background-color: var(--light-purple); }
 .bg-dark-pink-xl { background-color: var(--dark-pink); }
 .bg-hot-pink-xl { background-color: var(--hot-pink); }
 .bg-pink-xl { background-color: var(--pink); }
 .bg-light-pink-xl { background-color: var(--light-pink); }
 .bg-dark-green-xl { background-color: var(--dark-green); }
 .bg-green-xl { background-color: var(--green); }
 .bg-light-green-xl { background-color: var(--light-green); }
 .bg-navy-xl { background-color: var(--navy); }
 .bg-dark-blue-xl { background-color: var(--dark-blue); }
 .bg-blue-xl { background-color: var(--blue); }
 .bg-light-blue-xl { background-color: var(--light-blue); }
 .bg-lightest-blue-xl { background-color: var(--lightest-blue); }
 .bg-washed-blue-xl { background-color: var(--washed-blue); }
 .bg-washed-green-xl { background-color: var(--washed-green); }
 .bg-washed-yellow-xl { background-color: var(--washed-yellow); }
 .bg-washed-red-xl { background-color: var(--washed-red); }
 .bg-vtex-blue-xl { background-color: var(--vtex-blue); }
}
