@media (--breakpoint-x-large) {
 .measure-xl { max-width: 30em; }
 .measure-wide-xl { max-width: 34em; }
 .measure-narrow-xl { max-width: 20em; }
 .indent-xl { text-indent: 1em; margin-top: 0; margin-bottom: 0; }
 .small-caps-xl { font-variant: small-caps; }
 .truncate-xl { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}
