.f7 { font-size: .75em; }

@media (--breakpoint-not-small) {
 .f7-ns { font-size: .75em; }
}
@media (--breakpoint-medium) {
 .f7-m { font-size: .75em; }
}
@media (--breakpoint-large) {
 .f7-l { font-size: .75em; }
}
@media (--breakpoint-x-large) {
 .f7-xl { font-size: .75em; }
}
