@media (--breakpoint-x-large) {
 .w1-xl { width: 1rem; }
 .w2-xl { width: 2rem; }
 .w3-xl { width: 4rem; }
 .w4-xl { width: 8rem; }
 .w5-xl { width: 16rem; }
 .w-10-xl { width: 10%; }
 .w-15-xl { width: 15%; }
 .w-20-xl { width: 20%; }
 .w-25-xl { width: 25%; }
 .w-30-xl { width: 30%; }
 .w-33-xl { width: 33%; }
 .w-34-xl { width: 34%; }
 .w-40-xl { width: 40%; }
 .w-50-xl { width: 50%; }
 .w-60-xl { width: 60%; }
 .w-70-xl { width: 70%; }
 .w-75-xl { width: 75%; }
 .w-80-xl { width: 80%; }
 .w-90-xl { width: 90%; }
 .w-100-xl { width: 100%; }
 .w-third-xl { width: calc( 100% / 3 ); }
 .w-two-thirds-xl { width: calc( 100% / 1.5 ); }
 .w-auto-xl { width: auto; }
}
